body {
  font-family: 'Nunito' !important;
  overflow-y: unset !important;
}
body::-webkit-scrollbar {
display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
margin-bottom: 0; }

.h7 {
font-size: 0.875rem; }

.h8 {
font-size: 0.75rem; }

.h6 {
font-size: 1rem; }

.h12 {
font-size: 0.75rem; }

.h11 {
font-size: 0.6875rem; }

.h10 {
font-size: 0.625rem; }

.fontSize9 {
font-size: 0.5625rem; }

.fontSize7 {
font-size: 0.4375rem; }

.fontSize15 {
font-size: 0.9375rem; }

.h18 {
font-size: 1.125rem; }
@media screen and (max-width: 767px) {
  .h18 {
    font-size: 1rem; } }

.h22 {
font-size: 1.375rem; }

.h26 {
font-size: 1.75rem; }
@media screen and (max-width: 991px) {
  .h26 {
    font-size: 1.5rem; } }
@media screen and (max-width: 767px) {
  .h26 {
    font-size: 1.125rem; } }

.h28 {
font-size: 1.75rem; }
@media screen and (max-width: 991px) {
  .h28 {
    font-size: 1.5rem; } }
@media screen and (max-width: 767px) {
  .h28 {
    font-size: 1.125rem; } }

.h32 {
font-size: 2rem; }
@media screen and (max-width: 991px) {
  .h32 {
    font-size: 1.75rem; } }
@media screen and (max-width: 767px) {
  .h32 {
    font-size: 1.625rem; } }

.h38 {
font-size: 2.375rem; }
@media screen and (max-width: 991px) {
  .h38 {
    font-size: 2rem; } }
@media screen and (max-width: 767px) {
  .h38 {
    font-size: 1.75rem; } }

.h42 {
font-size: 2.625rem; }
@media screen and (max-width: 991px) {
  .h42 {
    font-size: 2.25rem; } }
@media screen and (max-width: 767px) {
  .h42 {
    font-size: 1.875rem; } }
    .w-25 {
      width: 25% !important; }
    
    .w-50 {
      width: 50% !important; }
    
    .w-75 {
      width: 75% !important; }
    
    .w-100 {
      width: 100% !important; }
    
    .w-auto {
      width: auto !important; }
    
    .h-25 {
      height: 25% !important; }
    
    .h-50 {
      height: 50% !important; }
    
    .h-75 {
      height: 75% !important; }
    
    .h-100 {
      height: 100% !important; }
    
    .h-auto {
      height: auto !important; }
    
    .mw-100 {
      max-width: 100% !important; }
    
    .mh-100 {
      max-height: 100% !important; }
    
    .m-0 {
      margin: 0 !important; }
    
    .mt-0,
    .my-0 {
      margin-top: 0 !important; }
    
    .mr-0,
    .mx-0 {
      margin-right: 0 !important; }
    
    .mb-0,
    .my-0 {
      margin-bottom: 0 !important; }
    
    .ml-0,
    .mx-0 {
      margin-left: 0 !important; }
    
    .m-1 {
      margin: 0.25rem !important; }
    
    .mt-1,
    .my-1 {
      margin-top: 0.25rem !important; }
    
    .mr-1,
    .mx-1 {
      margin-right: 0.25rem !important; }
    
    .mb-1,
    .my-1 {
      margin-bottom: 0.25rem !important; }
    
    .ml-1,
    .mx-1 {
      margin-left: 0.25rem !important; }
    
    .m-2 {
      margin: 0.5rem !important; }
    
    .mt-2,
    .my-2 {
      margin-top: 0.5rem !important; }
    
    .mr-2,
    .mx-2 {
      margin-right: 0.5rem !important; }
    
    .mb-2,
    .my-2 {
      margin-bottom: 0.5rem !important; }
    
    .ml-2,
    .mx-2 {
      margin-left: 0.5rem !important; }
    
    .m-3 {
      margin: 1rem !important; }
    
    .mt-3,
    .my-3 {
      margin-top: 1rem !important; }
    
    .mr-3,
    .mx-3 {
      margin-right: 1rem !important; }
    
    .mb-3,
    .my-3 {
      margin-bottom: 1rem !important; }
    
    .ml-3,
    .mx-3 {
      margin-left: 1rem !important; }
    
    .m-4 {
      margin: 1.5rem !important; }
    
    .mt-4,
    .my-4 {
      margin-top: 1.5rem !important; }
    
    .mr-4,
    .mx-4 {
      margin-right: 1.5rem !important; }
    
    .mb-4,
    .my-4 {
      margin-bottom: 1.5rem !important; }
    
    .ml-4,
    .mx-4 {
      margin-left: 1.5rem !important; }
    
    .m-5 {
      margin: 3rem !important; }
    
    .mt-5,
    .my-5 {
      margin-top: 3rem !important; }
    
    .mr-5,
    .mx-5 {
      margin-right: 3rem !important; }
    
    .mb-5,
    .my-5 {
      margin-bottom: 3rem !important; }
    
    .ml-5,
    .mx-5 {
      margin-left: 3rem !important; }
    
    .p-0 {
      padding: 0 !important; }
    
    .pt-0,
    .py-0 {
      padding-top: 0 !important; }
    
    .pr-0,
    .px-0 {
      padding-right: 0 !important; }
    
    .pb-0,
    .py-0 {
      padding-bottom: 0 !important; }
    
    .pl-0,
    .px-0 {
      padding-left: 0 !important; }
    
    .p-1 {
      padding: 0.25rem !important; }
    
    .pt-1,
    .py-1 {
      padding-top: 0.25rem !important; }
    
    .pr-1,
    .px-1 {
      padding-right: 0.25rem !important; }
    
    .pb-1,
    .py-1 {
      padding-bottom: 0.25rem !important; }
    
    .pl-1,
    .px-1 {
      padding-left: 0.25rem !important; }
    
    .p-2 {
      padding: 0.5rem !important; }
    
    .pt-2,
    .py-2 {
      padding-top: 0.5rem !important; }
    
    .pr-2,
    .px-2 {
      padding-right: 0.5rem !important; }
    
    .pb-2,
    .py-2 {
      padding-bottom: 0.5rem !important; }
    
    .pl-2,
    .px-2 {
      padding-left: 0.5rem !important; }
    
    .p-3 {
      padding: 1rem !important; }
    
    .pt-3,
    .py-3 {
      padding-top: 1rem !important; }
    
    .pr-3,
    .px-3 {
      padding-right: 1rem !important; }
    
    .pb-3,
    .py-3 {
      padding-bottom: 1rem !important; }
    
    .pl-3,
    .px-3 {
      padding-left: 1rem !important; }
    
    .p-4 {
      padding: 1.5rem !important; }
    
    .pt-4,
    .py-4 {
      padding-top: 1.5rem !important; }
    
    .pr-4,
    .px-4 {
      padding-right: 1.5rem !important; }
    
    .pb-4,
    .py-4 {
      padding-bottom: 1.5rem !important; }
    
    .pl-4,
    .px-4 {
      padding-left: 1.5rem !important; }
    
    .p-5 {
      padding: 3rem !important; }
    
    .pt-5,
    .py-5 {
      padding-top: 3rem !important; }
    
    .pr-5,
    .px-5 {
      padding-right: 3rem !important; }
    
    .pb-5,
    .py-5 {
      padding-bottom: 3rem !important; }
    
    .pl-5,
    .px-5 {
      padding-left: 3rem !important; }
    
    .m-auto {
      margin: auto !important; }
    
    .mt-auto,
    .my-auto {
      margin-top: auto !important; }
    
    .mr-auto,
    .mx-auto {
      margin-right: auto !important; }
    
    .mb-auto,
    .my-auto {
      margin-bottom: auto !important; }
    
    .ml-auto,
    .mx-auto {
      margin-left: auto !important; }
    
    @media (min-width: 576px) {
      .m-sm-0 {
        margin: 0 !important; }
      .mt-sm-0,
      .my-sm-0 {
        margin-top: 0 !important; }
      .mr-sm-0,
      .mx-sm-0 {
        margin-right: 0 !important; }
      .mb-sm-0,
      .my-sm-0 {
        margin-bottom: 0 !important; }
      .ml-sm-0,
      .mx-sm-0 {
        margin-left: 0 !important; }
      .m-sm-1 {
        margin: 0.25rem !important; }
      .mt-sm-1,
      .my-sm-1 {
        margin-top: 0.25rem !important; }
      .mr-sm-1,
      .mx-sm-1 {
        margin-right: 0.25rem !important; }
      .mb-sm-1,
      .my-sm-1 {
        margin-bottom: 0.25rem !important; }
      .ml-sm-1,
      .mx-sm-1 {
        margin-left: 0.25rem !important; }
      .m-sm-2 {
        margin: 0.5rem !important; }
      .mt-sm-2,
      .my-sm-2 {
        margin-top: 0.5rem !important; }
      .mr-sm-2,
      .mx-sm-2 {
        margin-right: 0.5rem !important; }
      .mb-sm-2,
      .my-sm-2 {
        margin-bottom: 0.5rem !important; }
      .ml-sm-2,
      .mx-sm-2 {
        margin-left: 0.5rem !important; }
      .m-sm-3 {
        margin: 1rem !important; }
      .mt-sm-3,
      .my-sm-3 {
        margin-top: 1rem !important; }
      .mr-sm-3,
      .mx-sm-3 {
        margin-right: 1rem !important; }
      .mb-sm-3,
      .my-sm-3 {
        margin-bottom: 1rem !important; }
      .ml-sm-3,
      .mx-sm-3 {
        margin-left: 1rem !important; }
      .m-sm-4 {
        margin: 1.5rem !important; }
      .mt-sm-4,
      .my-sm-4 {
        margin-top: 1.5rem !important; }
      .mr-sm-4,
      .mx-sm-4 {
        margin-right: 1.5rem !important; }
      .mb-sm-4,
      .my-sm-4 {
        margin-bottom: 1.5rem !important; }
      .ml-sm-4,
      .mx-sm-4 {
        margin-left: 1.5rem !important; }
      .m-sm-5 {
        margin: 3rem !important; }
      .mt-sm-5,
      .my-sm-5 {
        margin-top: 3rem !important; }
      .mr-sm-5,
      .mx-sm-5 {
        margin-right: 3rem !important; }
      .mb-sm-5,
      .my-sm-5 {
        margin-bottom: 3rem !important; }
      .ml-sm-5,
      .mx-sm-5 {
        margin-left: 3rem !important; }
      .p-sm-0 {
        padding: 0 !important; }
      .pt-sm-0,
      .py-sm-0 {
        padding-top: 0 !important; }
      .pr-sm-0,
      .px-sm-0 {
        padding-right: 0 !important; }
      .pb-sm-0,
      .py-sm-0 {
        padding-bottom: 0 !important; }
      .pl-sm-0,
      .px-sm-0 {
        padding-left: 0 !important; }
      .p-sm-1 {
        padding: 0.25rem !important; }
      .pt-sm-1,
      .py-sm-1 {
        padding-top: 0.25rem !important; }
      .pr-sm-1,
      .px-sm-1 {
        padding-right: 0.25rem !important; }
      .pb-sm-1,
      .py-sm-1 {
        padding-bottom: 0.25rem !important; }
      .pl-sm-1,
      .px-sm-1 {
        padding-left: 0.25rem !important; }
      .p-sm-2 {
        padding: 0.5rem !important; }
      .pt-sm-2,
      .py-sm-2 {
        padding-top: 0.5rem !important; }
      .pr-sm-2,
      .px-sm-2 {
        padding-right: 0.5rem !important; }
      .pb-sm-2,
      .py-sm-2 {
        padding-bottom: 0.5rem !important; }
      .pl-sm-2,
      .px-sm-2 {
        padding-left: 0.5rem !important; }
      .p-sm-3 {
        padding: 1rem !important; }
      .pt-sm-3,
      .py-sm-3 {
        padding-top: 1rem !important; }
      .pr-sm-3,
      .px-sm-3 {
        padding-right: 1rem !important; }
      .pb-sm-3,
      .py-sm-3 {
        padding-bottom: 1rem !important; }
      .pl-sm-3,
      .px-sm-3 {
        padding-left: 1rem !important; }
      .p-sm-4 {
        padding: 1.5rem !important; }
      .pt-sm-4,
      .py-sm-4 {
        padding-top: 1.5rem !important; }
      .pr-sm-4,
      .px-sm-4 {
        padding-right: 1.5rem !important; }
      .pb-sm-4,
      .py-sm-4 {
        padding-bottom: 1.5rem !important; }
      .pl-sm-4,
      .px-sm-4 {
        padding-left: 1.5rem !important; }
      .p-sm-5 {
        padding: 3rem !important; }
      .pt-sm-5,
      .py-sm-5 {
        padding-top: 3rem !important; }
      .pr-sm-5,
      .px-sm-5 {
        padding-right: 3rem !important; }
      .pb-sm-5,
      .py-sm-5 {
        padding-bottom: 3rem !important; }
      .pl-sm-5,
      .px-sm-5 {
        padding-left: 3rem !important; }
      .m-sm-auto {
        margin: auto !important; }
      .mt-sm-auto,
      .my-sm-auto {
        margin-top: auto !important; }
      .mr-sm-auto,
      .mx-sm-auto {
        margin-right: auto !important; }
      .mb-sm-auto,
      .my-sm-auto {
        margin-bottom: auto !important; }
      .ml-sm-auto,
      .mx-sm-auto {
        margin-left: auto !important; } }
    
    @media (min-width: 768px) {
      .m-md-0 {
        margin: 0 !important; }
      .mt-md-0,
      .my-md-0 {
        margin-top: 0 !important; }
      .mr-md-0,
      .mx-md-0 {
        margin-right: 0 !important; }
      .mb-md-0,
      .my-md-0 {
        margin-bottom: 0 !important; }
      .ml-md-0,
      .mx-md-0 {
        margin-left: 0 !important; }
      .m-md-1 {
        margin: 0.25rem !important; }
      .mt-md-1,
      .my-md-1 {
        margin-top: 0.25rem !important; }
      .mr-md-1,
      .mx-md-1 {
        margin-right: 0.25rem !important; }
      .mb-md-1,
      .my-md-1 {
        margin-bottom: 0.25rem !important; }
      .ml-md-1,
      .mx-md-1 {
        margin-left: 0.25rem !important; }
      .m-md-2 {
        margin: 0.5rem !important; }
      .mt-md-2,
      .my-md-2 {
        margin-top: 0.5rem !important; }
      .mr-md-2,
      .mx-md-2 {
        margin-right: 0.5rem !important; }
      .mb-md-2,
      .my-md-2 {
        margin-bottom: 0.5rem !important; }
      .ml-md-2,
      .mx-md-2 {
        margin-left: 0.5rem !important; }
      .m-md-3 {
        margin: 1rem !important; }
      .mt-md-3,
      .my-md-3 {
        margin-top: 1rem !important; }
      .mr-md-3,
      .mx-md-3 {
        margin-right: 1rem !important; }
      .mb-md-3,
      .my-md-3 {
        margin-bottom: 1rem !important; }
      .ml-md-3,
      .mx-md-3 {
        margin-left: 1rem !important; }
      .m-md-4 {
        margin: 1.5rem !important; }
      .mt-md-4,
      .my-md-4 {
        margin-top: 1.5rem !important; }
      .mr-md-4,
      .mx-md-4 {
        margin-right: 1.5rem !important; }
      .mb-md-4,
      .my-md-4 {
        margin-bottom: 1.5rem !important; }
      .ml-md-4,
      .mx-md-4 {
        margin-left: 1.5rem !important; }
      .m-md-5 {
        margin: 3rem !important; }
      .mt-md-5,
      .my-md-5 {
        margin-top: 3rem !important; }
      .mr-md-5,
      .mx-md-5 {
        margin-right: 3rem !important; }
      .mb-md-5,
      .my-md-5 {
        margin-bottom: 3rem !important; }
      .ml-md-5,
      .mx-md-5 {
        margin-left: 3rem !important; }
      .p-md-0 {
        padding: 0 !important; }
      .pt-md-0,
      .py-md-0 {
        padding-top: 0 !important; }
      .pr-md-0,
      .px-md-0 {
        padding-right: 0 !important; }
      .pb-md-0,
      .py-md-0 {
        padding-bottom: 0 !important; }
      .pl-md-0,
      .px-md-0 {
        padding-left: 0 !important; }
      .p-md-1 {
        padding: 0.25rem !important; }
      .pt-md-1,
      .py-md-1 {
        padding-top: 0.25rem !important; }
      .pr-md-1,
      .px-md-1 {
        padding-right: 0.25rem !important; }
      .pb-md-1,
      .py-md-1 {
        padding-bottom: 0.25rem !important; }
      .pl-md-1,
      .px-md-1 {
        padding-left: 0.25rem !important; }
      .p-md-2 {
        padding: 0.5rem !important; }
      .pt-md-2,
      .py-md-2 {
        padding-top: 0.5rem !important; }
      .pr-md-2,
      .px-md-2 {
        padding-right: 0.5rem !important; }
      .pb-md-2,
      .py-md-2 {
        padding-bottom: 0.5rem !important; }
      .pl-md-2,
      .px-md-2 {
        padding-left: 0.5rem !important; }
      .p-md-3 {
        padding: 1rem !important; }
      .pt-md-3,
      .py-md-3 {
        padding-top: 1rem !important; }
      .pr-md-3,
      .px-md-3 {
        padding-right: 1rem !important; }
      .pb-md-3,
      .py-md-3 {
        padding-bottom: 1rem !important; }
      .pl-md-3,
      .px-md-3 {
        padding-left: 1rem !important; }
      .p-md-4 {
        padding: 1.5rem !important; }
      .pt-md-4,
      .py-md-4 {
        padding-top: 1.5rem !important; }
      .pr-md-4,
      .px-md-4 {
        padding-right: 1.5rem !important; }
      .pb-md-4,
      .py-md-4 {
        padding-bottom: 1.5rem !important; }
      .pl-md-4,
      .px-md-4 {
        padding-left: 1.5rem !important; }
      .p-md-5 {
        padding: 3rem !important; }
      .pt-md-5,
      .py-md-5 {
        padding-top: 3rem !important; }
      .pr-md-5,
      .px-md-5 {
        padding-right: 3rem !important; }
      .pb-md-5,
      .py-md-5 {
        padding-bottom: 3rem !important; }
      .pl-md-5,
      .px-md-5 {
        padding-left: 3rem !important; }
      .m-md-auto {
        margin: auto !important; }
      .mt-md-auto,
      .my-md-auto {
        margin-top: auto !important; }
      .mr-md-auto,
      .mx-md-auto {
        margin-right: auto !important; }
      .mb-md-auto,
      .my-md-auto {
        margin-bottom: auto !important; }
      .ml-md-auto,
      .mx-md-auto {
        margin-left: auto !important; } }
    
    @media (min-width: 992px) {
      .m-lg-0 {
        margin: 0 !important; }
      .mt-lg-0,
      .my-lg-0 {
        margin-top: 0 !important; }
      .mr-lg-0,
      .mx-lg-0 {
        margin-right: 0 !important; }
      .mb-lg-0,
      .my-lg-0 {
        margin-bottom: 0 !important; }
      .ml-lg-0,
      .mx-lg-0 {
        margin-left: 0 !important; }
      .m-lg-1 {
        margin: 0.25rem !important; }
      .mt-lg-1,
      .my-lg-1 {
        margin-top: 0.25rem !important; }
      .mr-lg-1,
      .mx-lg-1 {
        margin-right: 0.25rem !important; }
      .mb-lg-1,
      .my-lg-1 {
        margin-bottom: 0.25rem !important; }
      .ml-lg-1,
      .mx-lg-1 {
        margin-left: 0.25rem !important; }
      .m-lg-2 {
        margin: 0.5rem !important; }
      .mt-lg-2,
      .my-lg-2 {
        margin-top: 0.5rem !important; }
      .mr-lg-2,
      .mx-lg-2 {
        margin-right: 0.5rem !important; }
      .mb-lg-2,
      .my-lg-2 {
        margin-bottom: 0.5rem !important; }
      .ml-lg-2,
      .mx-lg-2 {
        margin-left: 0.5rem !important; }
      .m-lg-3 {
        margin: 1rem !important; }
      .mt-lg-3,
      .my-lg-3 {
        margin-top: 1rem !important; }
      .mr-lg-3,
      .mx-lg-3 {
        margin-right: 1rem !important; }
      .mb-lg-3,
      .my-lg-3 {
        margin-bottom: 1rem !important; }
      .ml-lg-3,
      .mx-lg-3 {
        margin-left: 1rem !important; }
      .m-lg-4 {
        margin: 1.5rem !important; }
      .mt-lg-4,
      .my-lg-4 {
        margin-top: 1.5rem !important; }
      .mr-lg-4,
      .mx-lg-4 {
        margin-right: 1.5rem !important; }
      .mb-lg-4,
      .my-lg-4 {
        margin-bottom: 1.5rem !important; }
      .ml-lg-4,
      .mx-lg-4 {
        margin-left: 1.5rem !important; }
      .m-lg-5 {
        margin: 3rem !important; }
      .mt-lg-5,
      .my-lg-5 {
        margin-top: 3rem !important; }
      .mr-lg-5,
      .mx-lg-5 {
        margin-right: 3rem !important; }
      .mb-lg-5,
      .my-lg-5 {
        margin-bottom: 3rem !important; }
      .ml-lg-5,
      .mx-lg-5 {
        margin-left: 3rem !important; }
      .p-lg-0 {
        padding: 0 !important; }
      .pt-lg-0,
      .py-lg-0 {
        padding-top: 0 !important; }
      .pr-lg-0,
      .px-lg-0 {
        padding-right: 0 !important; }
      .pb-lg-0,
      .py-lg-0 {
        padding-bottom: 0 !important; }
      .pl-lg-0,
      .px-lg-0 {
        padding-left: 0 !important; }
      .p-lg-1 {
        padding: 0.25rem !important; }
      .pt-lg-1,
      .py-lg-1 {
        padding-top: 0.25rem !important; }
      .pr-lg-1,
      .px-lg-1 {
        padding-right: 0.25rem !important; }
      .pb-lg-1,
      .py-lg-1 {
        padding-bottom: 0.25rem !important; }
      .pl-lg-1,
      .px-lg-1 {
        padding-left: 0.25rem !important; }
      .p-lg-2 {
        padding: 0.5rem !important; }
      .pt-lg-2,
      .py-lg-2 {
        padding-top: 0.5rem !important; }
      .pr-lg-2,
      .px-lg-2 {
        padding-right: 0.5rem !important; }
      .pb-lg-2,
      .py-lg-2 {
        padding-bottom: 0.5rem !important; }
      .pl-lg-2,
      .px-lg-2 {
        padding-left: 0.5rem !important; }
      .p-lg-3 {
        padding: 1rem !important; }
      .pt-lg-3,
      .py-lg-3 {
        padding-top: 1rem !important; }
      .pr-lg-3,
      .px-lg-3 {
        padding-right: 1rem !important; }
      .pb-lg-3,
      .py-lg-3 {
        padding-bottom: 1rem !important; }
      .pl-lg-3,
      .px-lg-3 {
        padding-left: 1rem !important; }
      .p-lg-4 {
        padding: 1.5rem !important; }
      .pt-lg-4,
      .py-lg-4 {
        padding-top: 1.5rem !important; }
      .pr-lg-4,
      .px-lg-4 {
        padding-right: 1.5rem !important; }
      .pb-lg-4,
      .py-lg-4 {
        padding-bottom: 1.5rem !important; }
      .pl-lg-4,
      .px-lg-4 {
        padding-left: 1.5rem !important; }
      .p-lg-5 {
        padding: 3rem !important; }
      .pt-lg-5,
      .py-lg-5 {
        padding-top: 3rem !important; }
      .pr-lg-5,
      .px-lg-5 {
        padding-right: 3rem !important; }
      .pb-lg-5,
      .py-lg-5 {
        padding-bottom: 3rem !important; }
      .pl-lg-5,
      .px-lg-5 {
        padding-left: 3rem !important; }
      .m-lg-auto {
        margin: auto !important; }
      .mt-lg-auto,
      .my-lg-auto {
        margin-top: auto !important; }
      .mr-lg-auto,
      .mx-lg-auto {
        margin-right: auto !important; }
      .mb-lg-auto,
      .my-lg-auto {
        margin-bottom: auto !important; }
      .ml-lg-auto,
      .mx-lg-auto {
        margin-left: auto !important; } }
    

.title4{
  font-size:20px;
  line-height: 1.3;
  color:#4b4b4b;
  }
  .form-group {
      margin-bottom: 1rem; }
label {
  display: inline-block;
  margin-bottom: 0.2rem;
}
//Material UI override
.form-control,.MuiInputBase-input {
  display: block  !important;
  width: calc(100% - 1.5rem) !important;
  height: calc(1.5rem + 2px) !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  // border: 1px solid #ced4da !important;
  //border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
.MuiFormControl-root{
width:100%;
}

.MuiInput-underline:before {
border:0;
transition: unset !important;
border-bottom: unset !important;
}
.MuiInput-underline:after{
transition: unset !important;
border-bottom: unset !important;
}
.MuiInput-underline:hover:not(.Mui-disabled):before,.MuiInput-underline:hover:not(.Mui-disabled):before {
border-bottom: 0 !important;
}
.btn {
  display: inline-block !important;
  font-weight: 400 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  border: 1px solid transparent !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: 0.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
.MuiButton-root{
text-transform: unset !important;
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
  width: 100%;
}
.bg-popup input::placeholder{
font-size: 12px;
  color: #95989a;
}
.btn {
  min-width: 7.5rem;
  margin-bottom: 10px;
}
.btn-primary {
  background: #42f4f4 !important;
  border-color: #42f4f4 !important;
  border-radius: 0 !important;
  color:#fff !important;
  cursor: pointer !important;
  width: 100% !important;
}

.bolder {
  font-weight: bold !important; }
.paper {
transition: opacity 0.15s linear;
}
.root {
    flex-grow: 1,
  }
  .MuiTypography-body1{
    font-family: unset !important;
  }
  .bold600{
    font-weight: 600;
  }
 .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #7d7d7d;
    opacity: 0.3; }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #7d7d7d;
    opacity: 0.3; }
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #7d7d7d;
    opacity: 0.3; }
 .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #7d7d7d;
    opacity: 0.3; }

    .align-items-center {
      -ms-flex-align: center !important;
      align-items: center !important;
  }
  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
  .justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.link{
 color: #168EEA;
 cursor: pointer;
}

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }


  .icon8, .icon10, .icon12, .icon14, .icon16, .icon18, .icon20, .icon30 {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  
  .icon8 {
    width: 0.5rem;
    height: 0.5rem; }
  
  .icon10 {
    width: 0.625rem;
    height: 0.625rem; }
  
  .icon12 {
    width: 0.75rem;
    height: 0.75rem; }
  
  .icon14 {
    width: 0.875rem;
    height: 0.875rem; }
  
  .icon16 {
    width: 1rem;
    height: 1rem; }
  
  .icon18 {
    width: 1.125rem;
    height: 1.125rem; }
  
  .icon20 {
    width: 1.25rem;
    height: 1.25rem; }
  
  .icon30 {
    width: 1.875rem;
    height: 1.875rem; }
  
  .iconClose {
   background-image: url("../../assets/images/cancel.svg"); 
  }
  
  .searchIcon {
    background-image: url("../../assets/images/search.svg"); }
  
  .alertIcon {
    background-image: url("../../assets/images/notification.svg"); }
  
  .cameraIcon {
    background-image: url("../../assets/images/photo-camera.svg"); }
  
  .locationIcon {
    background-image: url("../../assets/images/location.svg"); }
  
  .iconShare {
    background-image: url("../../assets/images/share.svg"); }
  
  .iconStarRating {
    background-image: url("../../assets/images/star.svg"); }
  
  .iconPlayMusic {
    background-image: url("../../assets/images/play-music.svg"); }
  
  .iconPlayVideo {
    background-image: url("../../assets/images/play-video.svg"); }
  
  .iconGoogleplus {
    background-image: url("../../assets/images/google-plus.svg"); }
  
  .iconFacebook {
    background-image: url("../../assets/images/facebook-logo.svg"); }
  
  .iconTwitter {
    background-image: url("../../assets/images/twitter.svg"); }
  
  .iconInstagram {
    background-image: url("../../assets/images/instagram.svg"); }
  
  .iconEmail {
    background-image: url("../../assets/images/mail.svg"); }
  
  .iconMusic {
    background-image: url("../../assets/images/music-player.svg"); }
  
  .iconImage {
    background-image: url("../../assets/images/picture.svg"); }
  
  .iconPlay {
    background-image: url("../../assets/images/youtube.svg"); }
  
  .iconWhiteFacebook {
    background-image: url("../../assets/images/white-facebook.svg"); }
  
  .iconWhiteFlickr {
    background-image: url("../../assets/images/white-flickr.svg"); }
  
  .iconWhiteGoogleplus {
    background-image: url("../../assets/images/white-google-plus.svg"); }
  
  .iconWhiteInstagram {
    background-image: url("../../assets/images/white-instagram.svg"); }
  
  .iconWhiteLinkedin {
    background-image: url("../../assets/images/white-linkedin.svg"); }
  
  .iconBookmark {
    background-image: url("../../assets/images/bookmark.svg"); 
  }
    .iconBookmark:hover, .iconBookmark.active {
      background-image: url("../../assets/images/bookmark-hover.svg");
     }
  
  .iconRate {
    background-image: url("../../assets/images/rate-star.svg"); }
    .iconRate:hover, .iconRate.active {
      background-image: url("../../assets/images/rate-star-hover.svg"); 
    }
  
  .iconBlueChevron {
    background-image: url("../../assets/images/right-chevron.png"); }
  
    .flex-row {
      -ms-flex-direction: row !important;
      flex-direction: row !important; }
    
    .flex-column {
      -ms-flex-direction: column !important;
      flex-direction: column !important; }
    
    .flex-row-reverse {
      -ms-flex-direction: row-reverse !important;
      flex-direction: row-reverse !important; }
    
    .flex-column-reverse {
      -ms-flex-direction: column-reverse !important;
      flex-direction: column-reverse !important; }
    
    .flex-wrap {
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important; }
    
    .flex-nowrap {
      -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important; }
    
    .flex-wrap-reverse {
      -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important; }
    
    .flex-fill {
      -ms-flex: 1 1 auto !important;
      flex: 1 1 auto !important; }
    
    .flex-grow-0 {
      -ms-flex-positive: 0 !important;
      flex-grow: 0 !important; }
    
    .flex-grow-1 {
      -ms-flex-positive: 1 !important;
      flex-grow: 1 !important; }
    
    .flex-shrink-0 {
      -ms-flex-negative: 0 !important;
      flex-shrink: 0 !important; }
    
    .flex-shrink-1 {
      -ms-flex-negative: 1 !important;
      flex-shrink: 1 !important; }
    
    .justify-content-start {
      -ms-flex-pack: start !important;
      justify-content: flex-start !important; }
    
    .justify-content-end {
      -ms-flex-pack: end !important;
      justify-content: flex-end !important; }
    
    .justify-content-center {
      -ms-flex-pack: center !important;
      justify-content: center !important; }
    
    .justify-content-between {
      -ms-flex-pack: justify !important;
      justify-content: space-between !important; }
    
    .justify-content-around {
      -ms-flex-pack: distribute !important;
      justify-content: space-around !important; }
    
    .align-items-start {
      -ms-flex-align: start !important;
      align-items: flex-start !important; }
    
    .align-items-end {
      -ms-flex-align: end !important;
      align-items: flex-end !important; }
    
    .align-items-center {
      -ms-flex-align: center !important;
      align-items: center !important; }
    
    .align-items-baseline {
      -ms-flex-align: baseline !important;
      align-items: baseline !important; }
    
    .align-items-stretch {
      -ms-flex-align: stretch !important;
      align-items: stretch !important; }
    
    .align-content-start {
      -ms-flex-line-pack: start !important;
      align-content: flex-start !important; }
    
    .align-content-end {
      -ms-flex-line-pack: end !important;
      align-content: flex-end !important; }
    
    .align-content-center {
      -ms-flex-line-pack: center !important;
      align-content: center !important; }
    
    .align-content-between {
      -ms-flex-line-pack: justify !important;
      align-content: space-between !important; }
    
    .align-content-around {
      -ms-flex-line-pack: distribute !important;
      align-content: space-around !important; }
    
    .align-content-stretch {
      -ms-flex-line-pack: stretch !important;
      align-content: stretch !important; }
    
    .align-self-auto {
      -ms-flex-item-align: auto !important;
      -ms-grid-row-align: auto !important;
          align-self: auto !important; }
    
    .align-self-start {
      -ms-flex-item-align: start !important;
      align-self: flex-start !important; }
    
    .align-self-end {
      -ms-flex-item-align: end !important;
      align-self: flex-end !important; }
    
    .align-self-center {
      -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
          align-self: center !important; }
    
    .align-self-baseline {
      -ms-flex-item-align: baseline !important;
      align-self: baseline !important; }
    
    .align-self-stretch {
      -ms-flex-item-align: stretch !important;
      -ms-grid-row-align: stretch !important;
          align-self: stretch !important; }
          .float-left {
            float: left !important; }
          
          .float-right {
            float: right !important; }
          
          .float-none {
            float: none !important; }
          
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
// custom
.bg-popup {
  background-color: #f7f9fc;
  padding: 0 !important;
  width:100%;
  
}
.makeStyles-paper-1{
  padding: 0 !important;
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item {
  padding: 0 !important;
}
.MuiGrid-root,.MuiTypography-root,.root,.modal-content,.paper{
&:focus{
  outline: none;
}
}
.MuiGrid-spacing-xs-3{
margin:unset !important;
width:unset !important;
}
.modalForm {
  padding: 3.125rem 0 1.25rem;
  max-width: 17rem;
  margin: 0 auto; 
}
@media screen and (max-width: 1024px) {
  .modalForm {
  padding: 3.125rem 0 2.5rem; } }

  @media screen and (max-width: 360px){
 .modalform{
  margin: 2.5rem auto 1.5625rem;
  
}
}
.modalform {
  max-width: 17.5rem;
  margin: 2.5rem auto 1.5625rem; }
.bg-popup .form-control,.bg-popup .MuiInputBase-input{
          border-radius: 0px !important;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.02);
          border: solid 1px #f5f6f7;
          background-color: #ffffff;
          }
      .accept-terms {
      color: #59626a;
      line-height: 1.4;
  }
  .modal-content {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      //width: 80%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      // border: 1px solid rgba(0, 0, 0, 0.2);
      //border-radius: 0.3rem;
      //margin: 1.75rem auto;
      transition: opacity 0.15s linear;
  //     right: unset !important;
  // bottom: unset !important;
  // top: 50% !important;
  // left: 50% !important;
  // transform: translate(-50%, -50%);
 position: relative !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .paper{
    width:80%;
  }
  .MuiGrid-container{
    // overflow-y: auto;
    // height: 200px;
  }
  .MuiGrid-container::-webkit-scrollbar {
    display: none;
}


  }
  .cover-img{
  max-height: 35rem;
  overflow: hidden;
  margin-right: -0.9375rem;
  width: 100%;
  height: 100%;
  }

  .backgroundLine {
    position: relative;
    z-index: 1;
}
  .backgroundLine:before {
    border-top: 1px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
.backgroundLine span {
  background: #fff;
  padding: 0.4375rem;
}
.register{
.modalform{
  margin: 1.5rem auto 1.5625rem;
}
.form-group {
  margin-bottom: 0.3rem;
}
}
.checkmark {
position: relative;
top: 0;
left: 0;
height: 12px;
width: 12px;
background-color: #fff;
margin-right: 5px;
} 
.checkmark:after {
left: 4px;
top: 1px;
width: 4px;
height: 8px;
border: solid #000;
border-width: 0 2px 2px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.checkmark:after {
content: "";
position: absolute;
display: none;
}
.terms-input:checked ~ .checkmark:after {
display: block;
}
.terms-input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
} 
input[type="radio"], input[type="checkbox"] {
box-sizing: border-box;
padding: 0;
} 
//Account Verification

.acc-verify{
line-height:1.2;
}
.accepted-icon{
border-radius: 10px;
  background: #000;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.forgot-password{
.modalform{
margin: 5.5rem auto 1.5625rem;
}
}
.error-msg1{
float: right;
  font-size: 12px;
  margin-top: 5px;
  color: #FF2E2E;
}
//new common
.hidden-visible{
color:#fff;
}


