$red: #ff0000;

$blue-dark: #2c5ea7;
$blue-light: #007aff;

$black: #000000;
$black-dark: #373a3c;
$blue-dark-2: #545b62;

$white: white;

$gray: #979797;
$gray-2: #868686;
$gray-2a: #898989;
$gray-3: #9b9c9d;
$gray-3a: #bdbdbd;
$gray-4: #ccc;
$gray-5: #eeefee;
$gray-light: #e8e8e8;
$gray-lighter: #eeeeee;
$gray-med-light: #dbdcdc;
$gray-dark: #515960;

$gray-stripe-odd: #f2f2f2;
$gray-stripe-even: #f7f7f7;

$text-color: #424242;


$navbar-dark-color: $white;
